
#hero{
    text-align: center;
}

textarea{
    width: 95%;
    height: 15vh;
    display: block;
    margin: 1rem;
    padding: 1rem;    
}


#output{
    border: 1px black solid;
    height: 40vh;
    width: 50%;
    margin: 1rem;
    margin-left: 25%;
    padding: 1rem;

}


#btn-translate{
    color: whitesmoke;
    background-color: rgb(101, 150, 101);
    padding: 0.5rem 1rem;
    margin-left:47%;
    border-radius: 0.5rem;
    
    
}